-- a parameterized 2-cell whose boundary applies a path constructor with a parameter and an argument
data Circ (A : U) : U where
  | pt : A -> Circ A
  | lp : (a : A) -> (i : I) -> Circ A [ ~ i -> pt a | i -> pt a ]
  | sq : (a : A) -> (i j : I) -> Circ A [ ~ i -> lp a j | i -> lp a j | ~ j -> pt a | j -> pt a ]
def cnt (A : U) (c : Circ A) : Nat := elim Circ (\_ -> Nat) (\a -> one) (\a -> \i -> one) (\a -> \i j -> inS one) c
def main : Nat := cnt Nat (sq two i0 i1)
