def vsum : (n : Nat) -> Vec Nat n -> Nat := \n v -> elim Vec (\n _ -> Nat) zero (\n x xs ih -> add x ih) n v
def p : PathP (\i -> Vec Nat (suc zero)) (cons zero one (nil)) (cons zero one (nil)) := \i -> cons zero one (nil)
def main : Nat := vsum one (p i1)
