def vsum : (n : Nat) -> Vec Nat n -> Nat := \n v -> elim Vec (\n _ -> Nat) zero (\n x xs ih -> add x ih) n v
def main : Nat := vsum two (cons one two (cons zero three (nil)))   -- elements two and three
